@use "../../styles/mixins.scss" as *;
.upper_details_box {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  & h1 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  &_innerbox {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    & > div {
      font-size: 0.8rem;
      display: flex;
      gap: 20px;
      padding-bottom: 4px;
    }
  }

  & a {
    font-size: 14px;
  }
}

.hero {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  &_poster_img {
    height: 100%;
    border: 0.5px solid #fff;
  }

  &_img_video_box {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_bd_img {
    height: auto;
    width: 100%;
  }

  &_video_box {
    height: 100%;
    width: 100%;
    position: relative;

    & iframe {
      scale: 1.2;
      pointer-events: none;
      position: absolute;
      top: -140px;
      left: -50px;
    }
  }
}

.main {
  background: #222;
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;

  &_inner {
    width: 90%;
    margin: 0 auto;

    &:first-child > div:has(button) {
      display: flex;

      & a,
      button {
        padding: 3px 10px;
        border: 1px solid #999;
        border-radius: 3px;
        margin: 30px auto;
        width: fit-content;
        display: block;
      }
    }
  }

  &_genre {
    margin-bottom: 14px;
    width: 100%;
    display: flex;
    column-gap: 6px;
    row-gap: 4px;
    flex-wrap: wrap;

    & span {
      padding: 3px 12px;
      border: 1px solid #999;
      border-radius: 30px;
    }
  }
  &_text {
    font-family: "Inter";
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
  }

  &_rating {
    padding: 10px;
    margin: 30px auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
    // border: 1px solid #999;
  }

  &_details {
    & > div {
      font-size: 0.9rem;
      row-gap: 10px;
      display: grid;
    }

    & > p {
      font-size: 0.9rem;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    & > div:first-child {
      margin-top: 60px;
    }

    & > div:last-child {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2px;
      margin-bottom: 30px;
      width: fit-content;

      & h6 {
        grid-column: 1 / span 3;
      }
    }
  }
}

@media (min-width: 768px) {
  .main_wrapper {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .detail {
    height: 40vh;
  }

  .main_wrapper {
    width: 60%;
  }
}
