@use "../../styles/mixins.scss" as *;
.hero_inner {
  margin: 50px auto;

  @include md {
    width: 100%;
    padding-inline: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.aside {
  display: none;
  @include md {
    display: block;
  }
}
