@use "../../styles/mixins.scss" as *;

.carousel_outer {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1900px;

  @include md {
    margin: unset;
    width: 70vw;
    max-width: 900px;
    height: auto;
    display: flex;
    align-items: center;
  }
}

.hero_img_inner_wrapper {
  width: 100%;
}

.hero_image_wrapper {
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 999;
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: flex;
}

.inner_image_box {
  background: black;
  height: 100px;
  width: 100%;
  color: #fff;
  position: relative;
  display: none;

  @media (min-width: 550px) {
    display: block;
  }

  &_inner {
    width: 50%;
    position: absolute;
    bottom: 60%;
    left: 20%;

    display: flex;
    align-items: flex-end;
    gap: 20px;

    @include sm {
      bottom: 60px;
      left: 100px;
    }

    @include md {
    }

    &_des {
      display: flex;
      flex-direction: column;
      gap: 10px;
      backdrop-filter: blur(10px);
      padding: 10px;
      border-radius: 2px;
      background-color: rgb(33, 33, 33, 0.3);
    }
  }

  h2 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 800;

    @include sm {
      font-size: 20px;
    }
  }

  p {
    width: 200px;
    font-weight: 600;
  }
}

.poster_img {
  width: 120px;
  height: fit-content;
  border: 0.5px solid #fff;

  @include sm {
    width: 140px;
  }
}

.pagination_box {
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translateX(-50%);
  min-width: fit-content;
  display: flex;
  gap: 10px;
}

.pagination {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  background-color: rgba(153, 153, 153, 0.515);
  cursor: pointer;
}
