@use "../../styles/mixins.scss" as *;
.detail_wrapper {
  min-height: 80vh;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;

  @include md {
    max-width: 800px;
    margin: 0 auto;
  }
}

.people_box {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-inline: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
