@use "../../styles/variables.scss" as *;

.aside {
  width: 280px;
  border: #fff solid 0.5px;
  border-radius: 3px;
  padding: 4px 8px;

  h3 {
    font-family: $font-display;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 12px;
    text-align: center;
    color: $color-primary;
  }
}

.aside_inner {
  display: grid;
  row-gap: 30px;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;

  img {
    width: 180px;
  }

  .right_side {
    position: relative;
    height: 110px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;

    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .date {
      margin-top: 10px;
      font-weight: 400;
    }
  }
}

.button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  right: 10px;
}

.close_btn {
  font-size: 40px;
  position: absolute;
  top: 4%;
  right: 10%;
}
