.title {
  color: #fff;
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 4px;
  padding-left: 10px;
  line-height: 1.1;
  border-left: 6px solid #fbbf24;
}

.des {
  color: #999;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

.title_box {
  margin-left: 20px;
  margin-bottom: 20px;
}
