@use "../../styles/variables.scss" as *;

.button {
  padding: 3px 10px;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 30px auto;
  width: fit-content;
  display: block;
  transition: all 0.2s ease;

  &:hover {
    border-color: $color-primary;
  }
}
