.inner_main {
  min-height: 100vh;
  padding-top: 60px;
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hero_wrapper {
  width: 100vw;
  height: fit-content;
  max-width: 1900px;
}
