.carousel_wrapper {
  width: fit-content;
  height: auto;
  position: relative;
  & li img {
    min-width: 140px;
    height: auto;

    @media (min-width: 450px) {
      min-width: 180px;
    }
  }

  & li {
    height: auto;
    width: 140px;
    scroll-snap-align: start;

    @media (min-width: 450px) {
      min-width: 180px;
    }
  }
}
