@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.header {
  width: 100vw;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: $font-display;

  &_inner h1 {
    font-size: 26px;

    @include sm {
      font-size: 34px;
    }
  }
}

.header_inner {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
