@use "../../styles/variables.scss" as *;

.header {
  width: 100vw;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: $font-display;
}

.nav_container h1 {
  font-size: 24px;
}

.header_inner {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .header_inner h1 {
    font-size: 32px;
  }
}
