@use "../../styles/variables.scss" as *;
.footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  gap: 4px;
  font-family: $font-display;
}

.small {
  font-size: 10px;
}
