@use "../../styles/mixins.scss" as *;
.detail_wrapper {
  min-height: 80vh;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;

  @include md {
    max-width: 900px;
    margin: 0 auto;
  }
}

.collection {
  background: #dddddd;
  min-height: fit-content;
  padding: 60px 30px;
  color: #222;
  font-size: 14px;
  &_img {
    margin: 0 auto;
    height: 300px;
    width: 90%;

    & img {
      width: 160px;
      margin-bottom: 10px;
      border-radius: 3px;
      filter: drop-shadow(0 1px 1px rgb(0, 0, 0, 0.05));
    }
  }
}
