.detail_wrapper {
  min-height: 80vh;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.upper_details_box {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  & h1 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  &_innerbox {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    & > div {
      font-size: 0.8rem;
      display: flex;
      gap: 20px;
      padding-bottom: 4px;
    }
  }
}

.hero {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  &_poster_img {
    height: 100%;
    border: 0.5px solid #fff;
  }

  &_bd_img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }
}

.video {
  width: 140%;
  height: 140%;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: -1;
  &_box {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}

.main {
  background: #222;
  padding: 30px 20px;

  & a {
    padding: 3px 10px;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 30px auto;
    width: fit-content;
    display: block;
  }

  &_inner {
    width: 90%;
    margin: 0 auto;
  }

  &_genre {
    margin-bottom: 14px;
    width: 100%;
    display: flex;
    column-gap: 6px;
    row-gap: 4px;
    flex-wrap: wrap;

    & span {
      padding: 3px 12px;
      border: 1px solid #999;
      border-radius: 30px;
    }
  }
  &_text {
    font-family: "Inter";
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
  }

  &_rating {
    padding: 10px;
    margin: 30px auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
    // border: 1px solid #999;
  }

  &_details {
    & > div {
      font-size: 0.9rem;
      row-gap: 10px;
      display: grid;
    }

    & > p {
      font-size: 0.9rem;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    & > div:first-child {
      margin-top: 60px;
    }

    & > div:last-child {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2px;
      margin-bottom: 30px;
      width: fit-content;

      & h6 {
        grid-column: 1 / span 3;
      }
    }
  }
}

.collection {
  background: #dddddd;
  min-height: fit-content;
  padding: 60px 30px;
  color: #222;
  font-size: 14px;
  &_img {
    margin: 0 auto;
    height: 300px;
    width: 90%;

    & img {
      width: 160px;
      margin-bottom: 10px;
      border-radius: 3px;
      filter: drop-shadow(0 1px 1px rgb(0, 0, 0, 0.05));
    }
  }
}

// @media (min-width: 500px) {
//   .deco_box {
//     width: 16%;
//   }

//   .top_detail_box {
//     text-align: start;
//   }
//   .text_box {
//     width: 100%;
//   }
// }

// @media (min-width: 640px) {
//   .deco_box {
//     width: 20%;
//   }
//   .main_wrapper {
//     width: 80%;
//     font-size: 18px;
//   }
// }

@media (min-width: 768px) {
  .main_wrapper {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .detail {
    height: 40vh;
  }

  .main_wrapper {
    width: 60%;
  }
}
