.img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  width: 180px;
  border-radius: 50%;

  & h4 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
  }
}
