@use "../../styles/mixins.scss" as *;
.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  @media (min-width: 460px) {
    width: 180px;
    height: 180px;
  }
}

.card {
  width: 150px;
  border-radius: 50%;
  margin: 10px;
  @media (min-width: 460px) {
    width: 180px;
  }

  & h4 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
  }
}
